<div id="main_body">
<h1>Position & Group</h1>
<table>
  <tr>
  	<th>#</th>
  	<th>UserPosition</th>
    <th>ModuleName</th>
    <th>PositionGroup</th>
    <th></th> 
    <th></th> 
  </tr>

<% @sys_position_and_groups.each do |p| %>
  <tr>
  	
    <td><%= p.id %></td> 
    <td><%= p.sys_user_position.position_name %></td> 	
    <td><%= p.sys_module.module_name %></td> 
    <td><%= p.sys_module.position_group %></td>
    <td><%= link_to 'Edit', edit_sys_position_and_group_path(p, :format => :js), :remote => true %></td>
    <td><%= link_to 'Delete', sys_position_and_group_path(p), :method => :delete, :confirm => 'Are you sure to delete?' %></td>
  </tr>
<% end %>

</table>

  <%= link_to "输入Position&Group", new_sys_position_and_group_path(:format => :js), :remote => true, :id => 'new_log_link' %>

</div>