<div id="user">
	<table width="90%">
		<tr>
			<td width="40%" valign="top">
				<ul>
					<li><%= link_to 'Position/职位', sys_user_positions_path %></li>	
					<li><%= link_to 'Modules', sys_modules_path %></li>
					<li><%= link_to 'Rights/用户权限', sys_user_rights_path %></li>					
 
				</ul>
				</td>
				<td width="20">&nbsp;</td>
				<td valign="top">
				<ul>
					<li><%= link_to 'Actions/数据表操作', sys_action_on_tables_path %></li>
					<li><%= link_to 'Positin&Group', sys_position_and_groups_path %></li>
				</ul>
			</td>
		</tr>
	</table>	
</div>
