<div id="main_body">
<h1>User职位</h1>
<table>
  <tr>
  	<th>Position</th>
    <th>PositionName</th>
    <th></th> 
    <th></th> 
  </tr>

<% @sys_user_positions.each do |p| %>
  <tr>
  	
    <td><%= p.position %></td> 	
    <td><%= p.position_name %></td> 
    <td><%= link_to 'Edit', edit_sys_user_position_path(p, :format => :js), :remote => true %></td>
    <td><%= link_to 'Delete', sys_user_position_path(p), :method => :delete, :confirm => 'Are you sure to delete?' %></td>
  </tr>
<% end %>

</table>

  <%= link_to "输入Position", new_sys_user_position_path(:format => :js), :remote => true, :id => 'new_log_link' %>

</div>
